In [6]:
import pandas as pd

df = pd.read_csv("Weekly_United_States_COVID-19_Cases_and_Deaths_by_State_-_ARCHIVED.csv")

# Convert 'date_updated', 'start_date', and 'end_date' columns to datetime
df['date_updated'] = pd.to_datetime(df['date_updated'])
df['start_date'] = pd.to_datetime(df['start_date'])
df['end_date'] = pd.to_datetime(df['end_date'])

df.head()

,date_updated,state,start_date,end_date,tot_cases,new_cases,tot_deaths,new_deaths,new_historic_cases,new_historic_deaths
0,2020-01-23,AK,2020-01-16,2020-01-22,0,0,0,0,0,0
1,2020-01-30,AK,2020-01-23,2020-01-29,0,0,0,0,0,0
2,2020-02-06,AK,2020-01-30,2020-02-05,0,0,0,0,0,0
3,2020-02-13,AK,2020-02-06,2020-02-12,0,0,0,0,0,0
4,2020-02-20,AK,2020-02-13,2020-02-19,0,0,0,0,0,0

In [7]:
df.dtypes

date_updated           datetime64[ns]
state                          object
start_date             datetime64[ns]
end_date               datetime64[ns]
tot_cases                       int64
new_cases                       int64
tot_deaths                      int64
new_deaths                      int64
new_historic_cases              int64
new_historic_deaths             int64
dtype: object

In [8]:
state_counts = df['state'].value_counts()
print(state_counts)

AK     173
AL     173
ND     173
NE     173
NH     173
NJ     173
NM     173
NV     173
NY     173
NYC    173
OH     173
OK     173
OR     173
PA     173
PR     173
PW     173
RI     173
RMI    173
SC     173
SD     173
TN     173
TX     173
UT     173
VA     173
VI     173
VT     173
WA     173
WI     173
WV     173
NC     173
MT     173
MS     173
HI     173
AR     173
AS     173
AZ     173
CA     173
CO     173
CT     173
DC     173
DE     173
FL     173
FSM    173
GA     173
GU     173
IA     173
MP     173
ID     173
IL     173
IN     173
KS     173
KY     173
LA     173
MA     173
MD     173
ME     173
MI     173
MN     173
MO     173
WY     173
Name: state, dtype: int64